


body {
   
    font-family: Roboto,sans-serif;
    height: 200%;
    
}
header{
   background-color: rgb(245, 245, 71);
    height: 100px;
    justify-content: space-between;
}
.container{
   display: flex;
    height: 100px;

}
img{
    opacity:70%;
    max-width: 100%;
    display:inline-block;

}

.segundaparte{
    
    width: 100%;
    height: 200px;

}


.nav li{
    
    display: flex;
    background-color: #f1f3f4;
}

