div{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 0px;

}

#container-a{

background-color: red;
}
#container-b{
background-color: blue;
width: 100px;
height: 100px;
display: inline-block;
}